
.location{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    line-height: 1;   
}
.temperature{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    line-height: 1;   
}
.detailsBtn{
    padding: 10px;
    border-radius: 50px;
    border : none;
    background-color:hwb(180 5% 35%);
    color: aliceblue; 
    font: bold;
}