.card{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(204, 20, 233, 0.873);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 10%;
    margin-left: 35%;
    width:350px;

}
.card h2{
    color: azure;
}
